<h1>Edit Project</h1>
<p class="error"><%= @project.errors.full_messages.join(', ') %></p>
<%= form_for @project do |p| %>
  <div>
    <%= p.label :title%>
    <%= p.text_field :title %>
  </div>
  <div>
    <%= p.label :description%>
    <%= p.text_field :description %>
  </div>
  <div>
    <%= p.label :due_date%>
    <%= p.date_select :due_date, :order => [:month, :day, :year] %>
  </div>
  <%= p.submit %>
<% end %>
