<h1 class="project-title"><%= @project.title %></h1>
<p class="project-details">created by <%= @project.user.full_name %>
  <br>Due Date: <%= @project.due_date.strftime("%b. %e, %Y") %></p>
<p><%= @project.description %></p>
<%= link_to 'edit', edit_project_path(@project) %>
<%= link_to 'delete', project_path(@project),
                      method: :delete,
                      data: {confirm: 'Are you sure?'}%>

<br>

<h2>Tasks</h2>
<div class="tasks_container">
  <div class="tasks_undone">
    <h3>Unfinished</h3>
    <% @project.tasks.each do |task| %>
      <% if !task.done %>
      <div>
        <h4 id="task_title"><%= task.title %></h4>
        <br>
        <p class="info">Due Date: <%= task.due_date.strftime("%b. %e, %Y") %></p>
        <p class="info"><%= task.body %></p>
        <%= link_to 'Edit', edit_project_task_path(@project, task),
                            method: :get%>
        <%= link_to 'Delete', project_task_path(@project, task),
                            method: :delete,
                            data: {confirm: 'Are you sure?'}%>
        <%= link_to "Mark As Finished",
                              project_task_path(@project, task,task: {title: task.title, body: task.body, due_date: task.due_date, done: true }),
                            method: :patch%>
        <hr>
      </div>
    <% end %>
    <% end %>
  </div>
  <div class="tasks_done">
    <h3>Finished</h3>
    <% @project.tasks.each do |task| %>
      <% if task.done %>
      <div>
        <h4 id="task_title"><%= task.title %></h4>
        <br>
        <p class="info">Due Date: <%= task.due_date.strftime("%b. %e, %Y") %></p>
        <p class="info"><%= task.body %></p>
        <%= link_to 'Edit', edit_project_task_path(@project, task),
                            method: :get%>
        <%= link_to 'Delete', project_task_path(@project, task),
                            method: :delete,
                            data: {confirm: 'Are you sure?'}%>
        <%= link_to "Mark As Unfinished",
                              project_task_path(@project, task,task: {title: task.title, body: task.body, due_date: task.due_date, done: false }),
                            method: :patch%>
        <hr>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<h2>New Task</h2>
<%= @task.errors.full_messages.join(', ') %>
<%= form_for [@project, @task] do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :description %>
  <%= f.text_area :body %>
</div>
<div>
  <%= f.label :due_date %>
  <%= f.date_select :due_date, start_year: Date.today.year%>
</div>
<br>
<%= f.submit %>
<% end %>

<h2>Discussion</h2>
<% if @project.discussions.count != 0 %>
  <table id="discussion_table">
    <thead>
      <tr><th>Title</th><th>Description</th></tr>
    </thead>
    <tbody>
      <% for discussion in @project.discussions %>
      <tr>
        <td><%=link_to "#{discussion.title}", discussion_path(discussion) %></td>
        <td><%=link_to "#{discussion.description}", discussion_path(discussion) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are currently no discussions for this project</p>
<% end %>

<h2>New Discussion</h2>
<%= @discussion.errors.full_messages.join(', ') %>
<%= form_for [@project, @discussion] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <br>
  <%= f.submit %>
<% end %>
