<!DOCTYPE html>
<html>
  <head>
    <title>PmTool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= link_to 'Home', root_path %>
    |
    <%= link_to 'About', about_path %>
    |
    <%= link_to 'New Project',  new_project_path%>
    |
    <%= link_to 'All Projects', projects_path %>
    <div id="sign-in">
      <% if user_signed_in? %>
        Hello, <%= link_to current_user.first_name, edit_user_path(current_user) %>
        |
        <%= link_to 'Sign Out', sessions_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign Up', new_user_path %>
        |
        <%= link_to 'Sign In', new_session_path %>
      <% end %>
    </div>
    <hr>
    <% if notice || alert %>
      <%= notice || alert %><br>
    <% end %>
    <%= yield %>
  </body>
</html>
